<div id="app" class="">
  <div id="cover" class="row justify-center m-0">
    <img class="cover-img" src="assets/images/cover-img.jpeg" alt="">
  </div>

  <div id="formal" class="row mt-3 mb-3 h-100">
    <div class="col-lg-6 formal-socks pr-2">
      <img class="full-sized-img" src="assets/images/formal-shoes-2.png" alt="">
    </div>
    <div class="col-lg-6 pl-2">
      <div class="row h-100">
        <div class="col-lg-12 px-2 py-4" style="background-color: rgba(135, 149, 150, 0.025);">
          <div class="row">
            <div class="col-lg-7">
              <p class="fb-head pt-1 pb-2">FOUNDATION</p>
              <p class="fb-text">KEKA Socks was established in INDIA on a thought that good socks can inspire your personality and confidence. </p>
            </div>
            <div class="col-lg-5 flex align-center">
              <img class="foundation-img" src="assets/images/cover-img.jpeg" width="260px" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-12 py-4 pl-4 pr-5 flex align-center" style="background-color: rgba(135, 149, 150, 0.025);">
          <p class="fb-tagline">A GOOD PAIR OF SOCKS IS THE FIRST STEP TO YOUR EFFORTLESS STYLE</p>
        </div>
      </div>
    </div>
  </div>

  <div id="perks" class="row h-100 mb-3 mt-3">
    <div class="col-lg-6 pr-2">
      <div class="row h-100">
        <div class="col-lg-12 px-0" style="background-color: rgba(135, 149, 150, 0.025);">
          <div class="row">
            <div class="col-lg-5 flex align-center">
              <img class="foundation-img" src="assets/images/handmade.jpg" width="260px" alt="">
            </div>
            <div class="col-lg-7 text-right pr-4 pt-2">
              <p class="fb-head pt-4 pb-2">HAND LINKING FINISH</p>
              <p class="fb-text">In our company we use the fine gauge dyed nylon for smooth toe linking & almost seamless & non-bumpy toe into shoes.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12" style="background-color: rgba(135, 149, 150, 0.025);">
          <div class="row">
            <div class="col-lg-7">
              <p class="fb-head pt-1 pb-2 pr-2">A SYMBOL OF BRAND EQUITY & STYLE</p>
              <p class="fb-text">In our company every single thing does matter to us from knitting to finishing. Each pair of socks is packaged with perfect quality</p>
            </div>
            <div class="col-lg-5 flex align-center">
              <img class="foundation-img" src="assets/images/packed-socks.jpg" width="260px" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 pl-2">
      <div class="row h-100" style="background-color: rgba(135, 149, 150, 0.025);">
        <div class="col-12 py-5 socks-preview" (mouseover)="preview = true" (mouseleave)="preview = false">
          <img class="full-sized-img img-blend py-5" src="assets/images/socks.jpg" alt="">
<!--          <button *ngIf="preview==true" class="socks-preview-btn flex align-center ml-2 mt-n3">-->
<!--            <span style="margin-top: 5px" class="mr-1">-->
<!--              <svg height="15px" version="1.1" viewBox="0 0 24 16" xmlns="http://www.w3.org/2000/svg">-->
<!--                <g fill="none" fill-rule="evenodd" stroke="#000">-->
<!--                  <path id="a" d="m2 7.1818c2.9421-5.425 9.7249-7.4377 15.15-4.4957 1.913 1.0374 3.4814 2.6109 4.5127 4.5271l0.3375 0.62711v0" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75"></path><path transform="translate(12.909 14.026) scale(1 -1) translate(-12.909 -14.026)" d="m3.8182 18.142c3.8353-4.5768 10.655-5.1778 15.232-1.3425 0.59708 0.50035 1.1383 1.0638 1.6143 1.6804l1.336 1.7307v0" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75"></path>-->
<!--                  <circle cx="12" cy="7.6364" r="3.1364" fill="#000"></circle>-->
<!--                </g>-->
<!--              </svg>-->
<!--            </span>-->
<!--            Quick Look-->
<!--          </button>-->
<!--          <p class="socks-preview-after py-2">Currently Unavailable</p>-->
        </div>
      </div>
    </div>
  </div>
</div>
